/*
----------------------
GLOBAL
----------------------
*/
small{
	color: #a9a9a9;
	/*font-weight: 200;*/
}

ul
{
	margin-left: 1.2em;
	padding: 0;
	/*list-style-type: none;*/
}

.text-main-color{
	color: #D80C18 !important;
}

.font-ming{
	font-family: ‘Noto Sans TC’, sans-serif;
}

.font-song{
	font-family: ‘cwTeXFangSong’, serif;
	/*font-family: ‘Noto Sans TC’, sans-serif;*/
}

.blockquote{
	font-family: times;
}

a:hover{
	opacity: 0.8;
	text-decoration: none;
}

.highlight-text{
	font-size: 2em;
}

/*
----------------------
NAV
----------------------
*/

#navbarToggler{
	/*background-color: #aaa;*/
}

nav ul{
	width: 100%;
	float: right;
}

nav .social-link{
	margin-right: 16px;
	
}

nav .social-link img{
	width: 32px;
	height: 32px;
}

@media (max-width: 720px){
	#logo{
		width: 180px;
	}
	#bg-nav{
	height: 86px;
	content: "";

}

@media (min-width: 720px){
	#logo{
		width: 240px;
	}
	#bg-nav{
	height: 93px;
	content: "";
}

.navbar{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-bottom: 1px solid #eee;
}

@media (min-width: 720px){
	#signup-top{
		margin-left: 16px;
		background-color: #D80C18;
		color: #ffffff !important;
	}	
}


	/*background-color: #333;*/
}


/*
----------------------
BANNER
----------------------
*/

#banner{
	background-color: #ddd;
	width: 100%;
	background-image: url("img/banner_bg.jpg");
	background-attachment: fixed;
  	background-position: center;
  	/*background-position: center -200px;*/
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 600px;
}

@media (max-width: 768px){
	#top-image{
		width: 80%;
	}
	#banner{
		height: 480px;
	}
}

@media (max-width: 576px){
	#banner{
		height: 420px;
	}
}

#banner-text img{
	width: auto;
}

#banner-text-top{
	position: relative;
	top: 20px;
	right: 0px;
	
}

#banner-text-bottom{
	/*background-color: red;*/
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: auto;
	
}

#banner-text-bottom img{
	/*align-items: right;*/
	/*position: relative;*/
	/*align-items: flex-end;*/
	width: 90%;
	height: 90%;
}

@media (min-width: 576px){
	#banner-text-bottom img{
		width: 80%;
		height: 80%;
		/*width: 80%;*/
	}	
}

@media (min-width: 768px){
	#banner-text-bottom img{
		width: 70%;
		height: 70%;
	}	
}

@media (max-width: 576px){
	#banner-text img{
		position: relative;
	}
	#banner-text-top{
		top: 15%;
		width: 85%;
		max-width: 350px;
	}
	#banner-text-bottom{
		top: 25%;
		width: 85%;
		max-width: 350px;
	}
}

/*concept*/



/*about*/





#about p, #speaker p{
	color: #333;
	/*font-weight: 200;*/
}

/*#about .section-content{
	background-image: url("img/icon_bg.png");
  	background-position: center right;
  	background-size: 300px;
  	background-repeat: no-repeat;
}*/

/*event*/

#event-detail{
	background-color: #fafafa;
	border: 1px solid #eee;
	border-top: 4px solid #D80C18;
}


.detail-title{
	font-weight: 800;
	color: #D80C18;
}

.detail-text{
	font-weight: 300;
}

#event-title{
	font-size: 2rem;
	font-weight: 400;
	color: #D80C18;
	/*font-family: ‘cwTeXFangSong’, serif;*/
	/*font-family: 'Noto Serif TC', serif;*/
}

#signup a{
	background-color: #D80C18;
	width: 120px;
	height: 44px;
	margin: 0 auto;
	color: #fff;
}

/*speaker*/

.img-speaker, .img-sponsor{
	width: 100%;
}

.section h2{
	/*font-size: 30px;*/
	/*text-align: center;*/
	/*font-weight: 400;*/
	/*color: #444;*/
}



.section{
	border-top: solid 1px #D80C18;
  	margin-top: 100px;
  	position: relative;
}

.section-header{
	width: 20%;
	min-width: 200px;
	margin: 0 auto;
	position: relative;
	top: -53px;
	background-color: #fff;
}

.sponsor-logo{

}

.square-logo{
	width: 90%;
}

#crossing-logo{
	width: 90%;
}



/*footer*/
footer{
	margin-top: 120px;
	height: 50px;
	background-color: #000;
}


